:root {
  --main-black: #181717;
}

/*NAVBAR*/
nav > .nav-container {
  padding: 20px 8.333333%;
  position: fixed;
  top: 0;
  left: 0;
  width: 83.333334%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

nav > .nav-container > .nav-header {
  color: var(--main-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .nav-container > .nav-header > h3 {
  color: var(--main-black);
  font-family: 'JetBrains Mono', monospace;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav > .nav-container > input {
  display: none;
}

nav > .sm-nav-links {
  display: none;
}

nav > .nav-container > .lg-nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .nav-container > .lg-nav-links > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav > .nav-container > .lg-nav-links > ul > li {
  margin-left: 45px;
}

nav > .nav-container > .lg-nav-links > ul > li > a {
  color: var(--main-black);
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

@media (max-width:999px) {

}

@media (max-width:785px) {

}

@media (max-width:768px) {
  nav > .nav-container > .nav-header > h3 {
    font-size: 20px;
  }

  nav > .nav-container > .lg-nav-links > ul > li > a {
    font-size: 16px;
  }
}

/* Navbar for sm */

@media (max-width:555px) {
  nav > .nav-container > .lg-nav-links {
    display: none;
  }

  nav > .nav-container > .nav-btn > label {
    height: 19px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav > .nav-container > .nav-btn > label > .line{
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 6px;
    background: #0e2431;
  }

  nav > .nav-container > .nav-btn > label > .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  nav > .nav-container > .nav-btn > label > .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  nav > .nav-container > .nav-btn > label > .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .line1-transform {
    transform: rotate(45deg);
  }
  
  .line2-transform {
    transform: scaleY(0);
  }
  
  .line3-transform {
    transform: rotate(-45deg);
  }

  nav > .sm-nav-links {
    z-index: 49;
    height: 100vh;
    width: 100vw;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .hide-links {
    position: absolute;
    top: 0;
    right: 100vw;
  }

  .show-links {
    position: absolute;
    top: 0;
    right: 0;
  }
}