:root {
  --main-black: #181717;
}

/*NAVBAR*/
nav > .nav-container {
  padding: 20px 8.333333%;
  position: fixed;
  top: 0;
  left: 0;
  width: 83.333334%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > .nav-container > .nav-header {
  color: var(--main-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .nav-container > .nav-header > h3 {
  color: var(--main-black);
  font-family: 'JetBrains Mono', monospace;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav > .nav-container > .lg-nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > .nav-container > .lg-nav-links > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav > .nav-container > .lg-nav-links > ul > li {
  margin-left: 45px;
}

nav > .nav-container > .lg-nav-links > ul > li > a {
  color: var(--main-black);
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

@media (max-width:999px) {

}

@media (max-width:785px) {

}

@media (max-width:768px) {
  
}