:root {
	--main-black: #181717;
}

* {
	padding: 0;
	margin: 0;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: 'JetBrains Mono', monospace;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	background: #FFF;
}

/* Hero section */

.hero > .hero-container {
	height: 600px;
    display: flex;
    align-items: self-end;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), radial-gradient(87.39% 86.44% at 69.24% -0.00%, #F3A8FF 0%, #FFB2CA 0.01%, rgba(185, 255, 200, 0.00) 100%), radial-gradient(114.56% 110.90% at 21.63% -0.00%, #9AB8FF 0%, rgba(169, 255, 240, 0.00) 100%), radial-gradient(129.77% 91.60% at 56.53% 107.70%, #A8FFE0 0%, rgba(255, 255, 255, 0.00) 100%), rgba(196, 196, 196, 0.10);	
}

.hero > .hero-container > .row {
	padding: 60px 8.333333%;
	display: flex;
	align-items: flex-end;
}

.hero > .hero-container > .row > .desktop-right > h1 {
	color: var(--main-black);
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -2px;
}

.hero > .hero-container > .row > .desktop-left > p {
	color: var(--main-black);
	font-family: 'Barlow', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 38.4px */
	margin-left: 65px;
	margin-bottom: 10px;
}

.tools-and-tech > .tools-and-tech-container {
	padding: 100px 8.333333% 50px 8.333333%;
}

.tools-and-tech > .tools-and-tech-container > .heading > h1 {
	font-size: 38px;
	font-weight: 500;
	text-align: center;
}

.tools-and-tech > .tools-and-tech-container > .grid {
	overflow-x: auto;
	display: flex;
	line-height: 120px;
	margin-top: 30px;
}

.tools-and-tech > .tools-and-tech-container > .grid::-webkit-scrollbar {
	width: 0;
}

.tools-and-tech > .tools-and-tech-container > .grid > i {
	font-size: 150px;
	margin: 30px;
	position: relative;
	top: 0;
	transition: top ease 0.2s;
}

.tools-and-tech > .tools-and-tech-container > .grid > i:hover {
	top: -10px;
}