.jumbotron {
	/*background-color: #202124;*/
	background-color: #00796B;
	margin-bottom: 0;
	height: 95vh;
	padding-left: 32px;
	padding-top: 32px;
	padding-right: 32px;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	border-radius: 0;
	background-image: linear-gradient(to right bottom, rgba(0, 99, 87, 0.9), rgba(0, 209, 183, 0.7)), url(../assets/img/bg2.jpeg);
	background-size: cover;
	background-attachment: fixed;
	position: static;
}

@media only screen and (max-width: 810px) {
.jumbotron { height: 97.5vh; margin-bottom: 0; }
}

.educationist {
	color: #00796B;
}

.logo {
	animation: bounceInDown 1s ;
	transform: rotate(0deg) scale(1) translateZ(0);
  	transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
  	cursor: pointer;
  	width: 180px;
  	display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.tagline {
	margin: 0;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
	animation: fadeIn 3s ;
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}

@media only screen and (max-width: 810px) {
.tagline { font-size: 2rem; }
.logo { width: 150px; }
}

.header {
	position: absolute;
	margin: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-main {
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	background-color: #f7f7f7;
}

.section-educationist {
	padding: 10rem 0;
	background-color: #00796B;
	background-image: linear-gradient(to right bottom, rgba(0, 99, 87, 0.9), rgba(0, 209, 183, 0.7)), url(../assets/img/bg1.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: static;
	display: block;
}

@media only screen and (max-width: 810px) {
.section-educationist { display: none; }
}


.section-team {
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	background-color: #f7f7f7;
}

.footer {
	color: white;
	background-color: #00796B;
	margin-bottom: 0;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 1.7;
	font-size: 1.3rem;
	padding-top: 25px;
	padding-bottom: 25px;
	background-image: linear-gradient(to right bottom, rgba(0, 99, 87, 0.9), rgba(0, 209, 183, 0.7)), url(../assets/img/bg1.jpg);
	background-attachment: fixed;
	position: static;
}

@media only screen and (max-width: 810px) {
.footer { background-image: none; }
}

p {
	margin-bottom: 0;
}

.heading-secondary {
	text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid #444444;
	margin: 0 auto;
	padding-bottom: 1rem;
	letter-spacing: 2px;
	font-family: 'Montserrat';
	font-weight: 700;
	text-align: center;
}

@media only screen and (max-width: 810px) {
.heading-secondary { width: 70%; }
}

.text-secondary {
	padding-top: 2rem;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 1.7;
	font-size: 1.3rem;
}

@media only screen and (max-width: 810px) {
.text-secondary { padding-left: 1rem; padding-right: 1rem; }
}

.separator {
	height: 2rem;
}

/* Scroll down button */

.container-for-button {
  position: relative;
  width: 24px;
  height: 24px;
  animation: fadeIn 3s;
}

.container-for-button:hover {
	cursor: pointer;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* Scroll Down button end */