body {
	padding: 0;
	margin: 0;
}

.main {
	padding: 0;
	width: 100%;
	height: 75vh;
	background-image: url(../img/bg2.jpeg);
	background-size: cover;
	background-attachment: fixed;
	position: static;
    clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 90% /* left bottom */
  );
    -webkit-clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 90% /* left bottom */
  );
    -moz-clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 90% /* left bottom */
  );
}

.bg-dark {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0)!important;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.punchline {
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
	margin: 0 auto;
	padding-top: 25vh;
	text-align: center;
	animation: fadeInDown 0.7s linear;
}

@media only screen and (max-width: 810px) {
.main { height: 85vh; margin-bottom: 15vh; }
.punchline { padding-top: 20vh; }
}

.tagline {
	padding: 3.5em;
	width: 60%;
	margin: 0 auto;
}

@media only screen and (max-width: 810px) {
.tagline { width: 100%; height: 100vh; }
}

.tagline-script {
	font-family: 'Proxima Nova', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	font-size: 2em;
	animation: fadeInDown 0.7s linear;
}

@media only screen and (max-width: 810px) {
.tagline-script { padding-top: 15vh; }
}

.scroll-down {
	width: 24px;
	margin-left: 45%;
	padding-top: 2em;
	animation: fadeInDown 1.5s infinite;
	display: none;
}

@media only screen and (max-width: 810px) {
.scroll-down { display: block; }
}

.scroll-up {
	width: 24px;
	margin-left: 45%;
	padding-top: 2em;
	animation: fadeInUp 1.5s infinite;
	display: none;
}

@media only screen and (max-width: 810px) {
.scroll-up { display: block; }
}

.blue {
	color: steelblue;
}

.orange {
	color: #f16529;
}

.slant {
	padding-top: 1em;
	width: 100%;
	height: 15vh;
	background-color: steelblue;
    clip-path: polygon(
    0 15%, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 180% /* left bottom */
  );
}

.content {
	background-color: steelblue;
	margin-top: -3px;
	padding-bottom: 4em;
}

.skills {
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
}

.skills-two {
	margin: 0 auto;
	text-align: center;
	color: white;
	font-family: 'Montserrat';
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.5em;
}

.animate-skills {
	animation: fadeInDown 0.5s linear;
}

.html-animation {
	animation: fadeIn 4.5s linear;
}

.css-animation {
	animation: fadeIn 4.5s linear;
}

.js-animation {
	animation: fadeIn 4.5s linear;
}

.behance-animation {
	animation: pulse 1s infinite;
}

.html-css-js {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 2em;
}

.html-logo {
	width: 100%;
}

.css-logo {
	width: 100%;
}

.js-logo {
	width: 100%;
}

.crossover {
	width: 100%;
	display: none;
}

@media only screen and (max-width: 810px) {
.content {height: 91vh; padding-bottom: 0;}
.skills {font-size: 25px;}
.skills-two {padding-top: 2em;}
.slant {height: 10vh;}
.crossover {display: block;}
.html-logo {display: none;}
.css-logo {display: none;}
.js-logo {display: none;}
}

.animated {
	transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
}

.animated:hover {
	transform: rotate(10deg) scale(1.1);
	cursor: pointer;
}

.portfolio {
	padding: 2em;
}

.portfolio-script {
	font-family: 'Montserrat';
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
	padding-top: 40%;
}

@media only screen and (max-width: 810px) {
.col-md-1 { display: none; }
.portfolio {height: 100vh;}
.portfolio-script {padding-top: 10%;}
.behance-pic {padding-left: 10px;}
.from-bottom {position: relative; bottom: 5em;}
}

.section-contact {
	background-color: #e34d26;
	padding: 2em;
}

.btn {
	border: 3px solid white;
	font-family: 'Montserrat';
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
	margin: 0 auto;
}

.btn-block {
	width: 80%;
}

.btn:hover {
	color: #e34d26;
}

a:hover {
	color: inherit;
	text-decoration: inherit;
}

@media only screen and (max-width: 810px) {
.section-contact { height: 100vh; }
}

/* Scroll down button */

.container-for-button {
  position: relative;
  width: 24px;
  height: 24px;
  animation: fadeIn 3s;
  margin: 0 auto;
  padding-top: 2em;
  display: none;
}

.container-for-button:hover {
	cursor: pointer;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* Scroll Down button end */

@media only screen and (max-width: 810px) {
.container-for-button { display: block; }
}

/*Team Card*/

.team-card {
	background-color: #00796B;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0;
	border-radius: 15px;
}

.designation {
	color: #00796B;
	background-color: white;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1rem;
	margin-bottom: 0;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 10px;
}

.name {
	color: white;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 0;
	padding: 15px;
	padding-top: 65px;
}

.haris {
	border-radius: 50%;
	margin: 0 auto;
	display: none;
	left: calc(50% - 50px);
	border: 3px solid white;
}

.show {
	position: absolute;
	bottom: 25vh;
	display: block;
}

@media only screen and (max-width: 810px) {
.haris {position: absolute; bottom: 100px;}
.hide {display: block;}
.show {display: none;}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {display: none!important;}
}